*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --bg-primary: #171717;
    --bg-second: #212121;
    --bg-button-primary: #3bd5ff;

    --txt-primary: white;
    --txt-second: #3bd5ff;
    --txt-third: #8f8484;
    --txt-fourth: #062E46;

    --transition-time: 0.5s;
    --transition-time-after: 0.3s;

    /*prueba de colores */
    /* --txt-p: skyblue;
    --txt-a-500: #00b4ff;
    --txt-a-400: #26d8ff; */
}
body{
    font-family: "Lato", sans-serif;
    background-color: var(--bg-primary);
    /* background-image: linear-gradient(96deg,#669aff 4.28%,#3bd5ff 51.18%,#3affff 100%); */
}
ul,a{
    text-decoration: none;
    list-style: none;
}
.button-primary{
    background-color: var(--bg-button-primary);
    color: var(--txt-fourth);
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}
.button-second{
    background-color: transparent;
    border: 1px solid var(--bg-button-primary);
    padding: 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}
.title{
    color: var(--txt-primary);
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 3rem;
    position: relative;
}
.title::after{
    content: "";
    display: block;
    height: 3px;
    background-color: var(--txt-second);
    width: 70px;
    position: absolute;
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
}
.main-header{
    padding: 1.1rem 0;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--bg-primary);
}
.container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    height: inherit;
    min-height: inherit;
}
.container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container-header .nav-menu{
    display: flex;
    flex-direction: row;
}
.container-header .logo{
    color: var(--txt-primary);
}
#check{
    display: none;
}
.container-header .nav-menu .nav-check-btn{
    cursor: pointer;
    float: right;
    display: none;
    z-index: 3000;
    position: relative;
}
.container-header .nav-menu .nav-list{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.container-header .nav-menu .nav-list .nav-link{
    color: var(--txt-primary);
    position: relative;
    padding: 0 8px;
}
.container-header .nav-menu .nav-list .nav-link::after{
    content: "";
    position: absolute;
    background-color: var(--txt-second);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: var(--transition-time-after);
}
.container-header .nav-menu .nav-list .nav-link:hover:after{
    width: 100%;
}
.main-hero{
    min-height: calc(100vh - 64px);
}
.main-hero .container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}
.hero-image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-image img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    /* border-radius: 100%; */
    border-radius: 40% 60% 40% 60% / 60% 40% 60% 40%;
}
.main-hero .hero-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.main-hero .hero-info .hero-title{
    color: var(--txt-primary);
    font-size: 3.5rem;
}
.main-hero .hero-info .hero-subtitle{
    color: var(--txt-second);
    font-size: 2rem;
}
.main-hero .hero-info .hero-description{
    max-width: 650px;
    word-wrap: break-word;
    color: var(--txt-third);
}
.main-hero .hero-info .hero-button{
    display: flex;
    margin: 1rem 0;
    align-items: center;
    flex-direction: row;
    background-color: var(--bg-button-primary);
    border-radius: 0.5rem;
    padding: 1rem;
    gap: 0.5rem;
    width: min-content;
    cursor: pointer;
}
.main-hero .hero-info .hero-button .button-link{
    font-size: 1rem;
    font-weight: 500;
}
.main-hero .hero-info .hero-button .icon-button{
    display: flex;
    width: 1.16rem;
    align-items: center;
}
.main-hero .hero-info .hero-list{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.main-hero .hero-info .hero-list .hero-link img{
    width: 1.6rem;
    cursor: pointer;
}
.main-sobremi{
    min-height: calc(100vh - 64px);
    background-color: var(--bg-second);
}
.main-sobremi .container-sobremi{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 219px;
}
.main-sobremi .container-sobremi .sobremi-imagen img{
    width: 398px;
    height: 440px;
    object-fit: cover;
    border-radius: 40% 60% 40% 60% / 60% 40% 60% 40%;
}
.main-sobremi .container-sobremi .sobremi-info{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 616px;
}
.main-sobremi .container-sobremi .sobremi-info .sobremi-subtitle{
    color: var(--txt-second);
}
.main-sobremi .container-sobremi .sobremi-info .sobremi-description{
    color: var(--txt-third);
}
.main-sobremi .container-sobremi .sobremi-info .sobremi-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 2rem;
    margin-top: 1rem;
}
.main-sobremi .container-sobremi .sobremi-info .sobremi-list .button-primary a{
    color: var(--txt-fourth);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    gap: 0.5rem;
}
.main-sobremi .container-sobremi .sobremi-info .sobremi-list .button-primary img{
    width: 1.5rem;
}
.main-sobremi .container-sobremi .sobremi-info .sobremi-list .button-second a{
    color: var(--txt-second);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    gap: 0.5rem;
}
.main-sobremi .container-sobremi .sobremi-info .sobremi-list .button-second img{
    width: 1.5rem;
}
.main-skills{
    min-height: calc(100vh - 64px);
}
.main-skills .container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.main-skills .container-skills{
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
    column-gap: 4rem;
    flex-wrap: wrap;
}
.main-skills .container-skills .skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-second);
    border: 1px solid #4B4546;
    border-radius: 0.5rem;
    width: 121px;
    height: 114px;
    gap: 0.8rem;
}
.main-skills .container-skills .skills figure img{
    width: 45px;
    height: 45px;
}
.main-skills .container-skills .skills .skills-title{
    color: var(--txt-third);
    word-wrap: break-word; /* Permite el salto de línea si la palabra es muy larga */
    word-break: break-word;
    text-align: center;
}
@media (max-width: 768px){
    .container{
        padding: 0 1rem;
    }
    .container-header .nav-menu .nav-check-btn{
        display: block;
    }
    .container-header .logo{
        z-index: 3000;
    }
    .container-header .nav-menu .nav-list{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--bg-card);
        text-align: center;
        top: 0;
        left: 0;
        clip-path: circle(0% at 100% 0%);
        transition: clip-path var(--transition-time) ease;
        z-index: 2000;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding-top: 5rem;
    }
    #check:checked ~ .nav-list{
        clip-path: circle(150% at 100% 0%);
    }
    .container-header .nav-menu .nav-list .nav-item{
        line-height: 30px;
    }
    .container-header .nav-menu .nav-list .nav-item .nav-link {
        color: var(--txt-primary); 
        transition: color var(--transition-time);
    }
    #check:checked ~ .nav-check-btn{
        display: block; 
    }
}